<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Web Servicer</title>
</head>
<body>
<h2> As per the problem Statement use "chrome" for chrome and "mozilla" for mozilla browser for rest url filtering</h2>
<h3>browser and url are the parameters for url filtering</h3>
<h3>Cache is cleared when we close and open the browser again</h3>

<h5>Instructions</h5>

<h5>http://localhost:8000/start?browser=chrome&url=http://example.com should start Google Chrome and open http://example.com in the same. Similarly for Firefox. </h5>
<h5>http:///stop?browser=browser  should stop the given browser if it is running
<h5>http://localhost:8000/cleanup?browser=browser should clean up the browsing session for the given browser if has been stopped.</h5>
</body>
</html>
